<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Vitelo</title>

    <!-- Bootstrap -->
    <link href="/css/style.css?<%= new Date().getTime();%>" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="<%=bucket%>/favicon.png">
    <link rel="apple-touch-icon" href="<%=bucket%>/favicon.png">
    <meta property="og:title" content="Vitelo" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://vitelo.solver.rs" />
    <meta property="og:image" content="<%=bucket%>/images/ogImage.png" />
    <meta property="og:description" content="Vitelo bedrift" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="/js/helperFunctions.js"></script>
  </head>
  <body onscroll="pageScroll()">
    <%- include ("partials/menu") -%>
    <div id="site-content">