<%- include ("partials/header") -%>
	<div class="homeHeader">
		<div class="videoWrap">
			<video poster="<%=bucket%>/videos/home.jpg" muted autoplay loop>
				<source src="<%=bucket%>/videos/home.mp4" type="video/mp4">
			</video>
		</div>
		<div class="overlay"></div>
		<div class="contentWidth animatedSection animated">
			<div class="titleWrap animatedElem animatedOpacity">
				<h1 class="site-title">VITELO BEDRIFT</h1>
				<h2 class="site-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</h2>
				<div class="buttonsWrap">
					<!--<div class="button demo">Start Demo</div>-->
					<div class="button contact">Contact</div>
				</div>
				<div class="testimonial">
					<div class="stars">
						<img src="<%=bucket%>/images/star.png">
						<img src="<%=bucket%>/images/star.png">
						<img src="<%=bucket%>/images/star.png">
						<img src="<%=bucket%>/images/star.png">
						<img src="<%=bucket%>/images/star.png">
					</div>
					<div class="box">
						<div class="border"></div>
						<p>Lorem ipsum dolor sit amet.</p>
					</div>
					<div class="box">
						<div class="border"></div>
						<p>Ut enim ad minim veniam.</p>
					</div>
				</div>
				<div class="review">
					<div class="image">
						<img src="<%=bucket%>/images/rade.png">
					</div>
					<div class="quoteWrap">
						<div class="quote">"Sed do eiusmod tempor incididunt ut labore et dolore."</div>
						<div class="signature">Jørgen Jørgensen <span>(Reprehenderit in voluptate)</span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="white titleText animatedSection animated" style="margin-top:83px">
		<div class="contentWidth animatedElem toTopOpacity">
			<div class="title">VITELO BEDRIFT ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</div>
			<div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
		</div>
		<div class="topFade"></div>
		<div class="bottomFade"></div>
	</div>
	<div class="collage" style="background-image:url(<%=bucket%>/images/viteloPeople.jpg);">
		<div class="contentWidth">
			<div class="imageWrap">

			</div>
		</div>
	</div>
	<div class="lightGrey trioBoxes animatedSection animated">
		<div class="contentWidth">
			<div class="boxes">
				<div class="box animatedElem toRightOpacity">
					<div class="icon"><div class="relative"><img src="<%=bucket%>/images/popravka.png"></div></div>
					<div class="title">Service</div>
					<div class="text"></div>
				</div>
				<div class="box animatedElem animatedOpacity">
					<div class="icon"><div class="relative"><img src="<%=bucket%>/images/security.png"></div></div>
					<div class="title">Sikkerhet</div>
					<div class="text"></div>
				</div>
				<div class="box animatedElem toLeftOpacity">
					<div class="icon"><div class="relative"><img src="<%=bucket%>/images/nabavka.png"></div></div>
					<div class="title">Innkjøp</div>
					<div class="text"></div>
				</div>
			</div>	
		</div>
	</div>
	<div class="white clients animatedSection animated">
		<div class="contentWidth">
			<div class="title">Klienter</div>
			<div class="logosWrap animatedElem toTopOpacity">
				<div class="logo">
					<div class="cb"><img src="<%=bucket%>/images/talkmoreCB.png"></div>
					<div class="color"><img src="<%=bucket%>/images/talkmore.png"></div>
				</div>
				<div class="logo">
					<div class="cb"><img src="<%=bucket%>/images/telenorCB.png"></div>
					<div class="color"><img src="<%=bucket%>/images/telenor.png"></div>
				</div>
				<div class="logo">
					<div class="cb"><img src="<%=bucket%>/images/komunaCB.png"></div>
					<div class="color"><img src="<%=bucket%>/images/komuna.png"></div>
				</div>
				<div class="logo">
					<div class="cb"><img src="<%=bucket%>/images/postenCB.png"></div>
					<div class="color"><img src="<%=bucket%>/images/posten.png"></div>
				</div>
				<div class="logo">
					<div class="cb"><img src="<%=bucket%>/images/circleKCB.png"></div>
					<div class="color"><img src="<%=bucket%>/images/circleK.png"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="industryTestimonials" style="background-image:url(<%=bucket%>/images/industry.jpeg);">
		<div class="contentWidth">
			<div class="testimonialWrap">
				<div class="content">
					"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
				</div>
				<div class="person">
					<div class="image"><img src="<%=bucket%>/images/rade.png"></div>
					<div class="signature">
						<div class="name">Jørgen Jørgensen <span>(Reprehenderit in voluptate)</span></div>
						<div class="company">Vlada</div>
					</div>
				</div>
			</div>
			<div class="testimonialWrap">
				<div class="content">
					"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
				</div>
				<div class="person">
					<div class="image"><img src="<%=bucket%>/images/rade.png"></div>
					<div class="signature">
						<div class="name">Jørgen Jørgensen <span>(Reprehenderit in voluptate)</span></div>
						<div class="company">Vlada</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<%- include ("partials/footer") -%>